body {
	height: 100%;
	width: 100%;
	background-color: rgba(197,72,74,1.00);
}


/* --- ATM --- */
.atm {
	width: 150px;
	height: 200px;
	background-color: #fff;
	position: absolute;
	float: left;
}
#atm1 {
	left: 10%;
	top: 13%;
}
#atm2 {
	left: 33%;
	top: 13%;
}
#atm3 {
	right: 33%;
	top: 13%;
}
#atm4 {
	right: 10%;
	top: 13%;
}
#atm5 {
	left: 10%;
	bottom: 13%;
}
#atm6 {
	left: 33%;
	bottom: 13%;
}
#atm7 {
	right: 33%;
	bottom: 13%;
}
#atm8 {
	right: 10%;
	bottom: 13%;
}


/* --- CHARACTER -- */
.character {
	width: 50px;
	height: 75px;
	position: absolute;
	background: rgba(56,75,220,1.00);
	z-index: 1000;
}